@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */
  --primary-color: black;
  --primary-color-transparent: #000000e6;
  --primary-color-shade: #0c0c13;
  --secondary-color: pink;
  --subtle-shadow: #5d595c;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-color: var(--primary-color-shade);
  color: white;
  font-size: 1.6rem;
}

.nav {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 10rem repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 6rem;
  gap: 1rem;
}

.brand {
  font-size: 2.4rem;
  margin-left: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form {
  display: flex;
}
.search-movie-textbox {
  padding: 1rem 1.5rem;
  width: 90%;
  display: block;
  margin: auto;
  border: 2px solid white;
  color: white;
  font-family: inherit;
  font-size: 1.5rem;
  border-radius: 10rem;
  background-color: transparent;
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 1rem white;
}

.search-movie-textbox:focus {
  animation: glow 0.5s linear forwards;
}

.movies {
  margin: 2rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem 1.5rem;
}

/* .movies {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.movies > * {
  display: inline-block;
  width: 200px;
  overflow-y: scroll;
}

.movies.movies--scroll .overview-overlay {
  white-space: pre-wrap;
} */
/* method 1 */

.movies--scroll.movies {
  padding-top: 2rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.movies--scroll.movies > * {
  flex: 0 0 25rem;
}
.movies--scroll.movies > *:nth-child(1) {
  color: #2ee02e;
  flex: 1 1 25rem;
  flex-basis: 100%;
}
.movies--scroll.movies .movie img {
  height: 25rem;
  object-fit: cover;
  object-position: top;
}
.movies--scroll.movies .movie h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.movies-title {
  margin: 2rem;
}

.movie {
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
  border-radius: 1rem;
  transition: all 0.2s ease-in;
}

.movie:hover {
  transform: translateY(-1rem) scale(1.03);
  box-shadow: 0 1rem 1.5rem var(--subtle-shadow);
}

.movie img {
  width: 100%;
}

.caption {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.overview-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  overflow: auto;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  text-align: center;
  background-color: var(--primary-color-transparent);
}
.overview-overlay h3 {
  margin-bottom: 1rem;
}

.movie:hover .overview-overlay {
  top: 0;
}
.vote-average {
  background-color: var(--primary-color-shade);
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 35px;
}
.vote-average__green {
  color: #2ee02e;
}
.vote-average__orange {
  color: orange;
}
.vote-average__red {
  color: red;
}

.overview-btn {
  color: white;
  background-color: var(--primary-color-shade);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border: 1px solid var(--primary-color-shade);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 1;
}
.overview-btn:hover {
  box-shadow: 0 0 10px var(--subtle-shadow);
}
.overview-btn:active {
  box-shadow: 0 0 5px var(--subtle-shadow);
}

@keyframes glow {
  0% {
    border-color: transparent;
    box-shadow: 0 0 0.3rem white;
  }
  30% {
    border-color: white;
    box-shadow: 0 0 1.5rem white;
  }
  50% {
    border-color: transparent;
    box-shadow: 0 0 0.3rem white;
  }
  70% {
    border-color: white;
    box-shadow: 0 0 1.5rem white;
  }
  80% {
    border-color: transparent;
    box-shadow: 0 0 0.3rem white;
  }
  100% {
    border-color: white;
    box-shadow: 0 0 1rem white;
  }
}

@media screen and (max-width: 564px) {
  .movies {
    grid-template-columns: minmax(auto, 35rem);
    gap: 3rem;
    justify-content: center;
  }
  .movies--scroll.movies {
    justify-content: flex-start;
  }
  .movies .movie img {
    max-height: 30rem;
  }

  .overview-btn {
    display: block;
  }

  .movie:hover .overview-overlay {
    top: 100%;
  }
  .movie:hover .overview-overlay.overview-overlay--toggle {
    top: 0;
  }
  .caption {
    position: relative;
  }
  .vote-average {
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
}

@media screen and (max-width: 300px) {
  /* .movies {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 3rem;
  } */
}
